.main {
    width: 100%;
    height: 100vh;
    background-color: #2f2b5b;

    .main_main {
        width: 100%;
        height: 80%;
        display: flex;


        .main_half1 {
            width: 50%;
            height: 100%;
            // background-color: red;
            display: flex;
            align-items: center;
            justify-content: center;

            .half1_text {
                width: 300px;
                height: 300px;
                // background-color: dodgerblue;
                margin-top: 100px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .main_text1 {
                    display: flex;
                    align-items: center;

                    img {
                        width: 80px;
                        height: 80px;
                    }

                    .text1_text {
                        h2 {
                            color: white;

                            span {
                                color: #FFE562;
                            }
                        }
                    }
                }

                .main_text2 {
                    margin-top: -30px;
                    color: white;
                }

                .main_text3 {
                    color: white;
                }

                .main_text4 {
                    button {
                        width: 143px;
                        height: 46px;
                        border-radius: 10px;
                        border: none;
                        background-color: #FFE562;
                    }
                }
            }
        }

        .main_half2 {
            width: 50%;
            height: 100%;
            // background-color: dodgerblue;
            display: flex;
            align-items: center;
            justify-content: center;

            .half2_img {
                width: 400px;
                height: 400px;
                // background-color: red;

                img {
                    width: 100%;
                    height: 100%;
                }

                .img2 {
                    position: absolute;
                    top: 100px;
                    left: 960px;
                    width: 300px;
                    height: 300px;
                }

            }
        }


    }

    .main_footer {
        width: 100%;
        height: 20%;
        // background-color: red;
        display: flex;
        align-items: center;

        .footer_img1 {
            margin-left: 200px;

        }

        .footer_img2 {
            margin-left: 50px;
        }
    }

}